<html>

<head>
    <script src="angular.js"></script>
    <title>q3</title>
</head>

<body>

    <div ng-app="myApp" ng-controller="myController">
        <input type="text" placeholder="Enter Price" ng-model="app.price">&nbsp;&nbsp;
        <input type="text" placeholder="Enter Quantity" ng-model="app.quantity">&nbsp;&nbsp;
        <br><br>
        {{ app.price * app.quantity}}
    </div>

    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller('myController', function ($scope) { });
    </script>

</body>

</html>