<html>

<head>
    <script src="angular.js"></script>
    <title>q4</title>
</head>

<body>

    <div ng-app="myApp" ng-controller="myController">
        <select ng-model="Months">
            <option ng-repeat="x in Months">{{x}}</option>
        </select>
    </div>

    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller('myController', function ($scope) {
            $scope.Months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        });
    </script>

</body>

</html>